@page "/login"
@using System.Text.RegularExpressions;
@using DBManager.Models.UserModels
@layout AuthLayout
@inject NavigationManager NavigationManager
@inject UserController userController

<PageTitle>
    Авторизация
</PageTitle>

<div>
    <h4 class="header">Авторизация</h4>

    <div class="input-group mb-3">
        <span class="input-group-text w-25" id="Email">Login</span>
        <input type="text" class="form-control" aria-describedby="Email" @bind-value="Login">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text w-25" id="Password">Password</span>
        <input type="password" class="form-control" aria-describedby="Password" @bind-value="Password">
    </div>

    @if (FormError)
    {
        <div class="error">Не верный email или пароль</div>
    }

    <a class="registration" href="/registration">Регистрация</a>

    <br />

    <button type="button" class="btn btn-primary mb-4 button" @onclick="Auth">Войти</button>
</div>


@code {
    private bool FormError { get; set; } = false;

    private String Login { get; set; } = "";

    private String Password { get; set; } = "";

    private bool Validate()
    {
        if (this.Login == "") return false;
        if (this.Password == "") return false;

        return true;
    }

    private void Auth()
    {
        if (!Validate())
        {
            FormError = true;
            return;
        }

        var user = userController.GetUserByLoginPass(this.Login, this.Password);

        if(user == null)
        {
            FormError = true;
            return;
        }

        NavigationManager.NavigateTo("/");
    }
}