@inherits LayoutComponentBase

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>kursach</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-2">
            <CascadingAuthenticationState>
                <AuthorizeView>
                    <Authorized>
                        <button class="btn">Выйти</button>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink href="login">
                            <button class="btn">Войти</button>
                        </NavLink>
                        <NavLink href="registration">
                            <button class="btn">Регистрация</button>
                        </NavLink>
                    </NotAuthorized>
                </AuthorizeView>                
            </CascadingAuthenticationState>
            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>