@using kursach.DBManager.Models.SubsidiaryModels;
@inject SubsidiaryController subsidiaryController
@inject Blazored.LocalStorage.ILocalStorageService iLocalStorageService

<style>
    .nav_menu_label{
        margin-top: 15px;
        font-size: 10pt;
        font-weight: bold;
    }
</style>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <select class="form-select">
                @foreach (var subsidiary in Subsidiaries)
                {
                    <option onclick="@(()=>SelectSubsidiary(subsidiary))" value="@subsidiary.SubsidiaryId">
                        @subsidiary.Addres
                    </option>
                }                
            </select>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <p class="nav_menu_label">Главная</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="flowers">
                <p class="nav_menu_label">Цветы</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bouquets">
                <p class="nav_menu_label">Букеты</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="present">
                <p class="nav_menu_label">Подарки</p>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <p class="nav_menu_label">Сопутствующие товары</p>
            </NavLink>
        </div>
        <CascadingAuthenticationState>
            <AuthorizeView Roles="admin, manager">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="supplies">
                            <p class="nav_menu_label">Поставки</p>
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="sells">
                            <p class="nav_menu_label">Список продаж</p>
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
        </CascadingAuthenticationState>
    </nav>
</div>

@code {
    private List<Subsidiary> Subsidiaries { get; set; }
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        Subsidiaries = await subsidiaryController.GetSubsidiaryAsync();
        try
        {
            await iLocalStorageService.SetItemAsync<Subsidiary>("subsidiary", Subsidiaries.FirstOrDefault());
        } catch(Exception e){}
    }

    private async void SelectSubsidiary(Subsidiary subsidiary)
    {
        await iLocalStorageService.SetItemAsync<Subsidiary>("subsidiary", subsidiary);
    }
}
